@charset "utf-8";
body{width: 1200px;}
h1{color: red;font-size: 24px;}


.header{display: flex;
   align-items: center; }
.A{display: flex;
    
    gap: 50px;
    font-size: 21px;
    margin-left: 200px;
    padding-bottom: 50px;
    padding-top: 50px;}
/* ok */
p{margin: 0px;}
h1{margin: 0px;}
h2{margin: 0px;}

.C{position: relative;}
.middle1{
    font-size: 50px;
    position: absolute;
    color: white;
   top: 30%;
   left: 20%;
}
.middle2{
    font-size: 30px;
    color: white;
    position: absolute;
    top: 50%;
left: 21%;}


.B{text-align: center;
font-size: 16px;}
.AA{margin-top:60px;
    margin-bottom: 30px;
color: gold;
font-size: 24px;;
}
.AB{margin-top: 0px;
    margin-bottom: 60px;}
.AC{margin-bottom: 30px;}
 .AD{margin-bottom: 40px;}

.AE{margin-bottom: 80px;}
.D{display: flex;}

.E{text-align: center;
font-style: 24px;}

.AF{font-size: 24px;
    margin-top:60px;
    margin-bottom: 30px}

.F{display: flex;
    background-color: #fafafa;}
.G{padding-left: 50px;
    padding-top: 120px;
    padding-bottom: 120px;   }
.AH{margin-bottom: 40px;}

.H{display: flex;
    background-color: #fafafa;
justify-content: end;
}
.I{
padding-right: 50px;
padding-top: 120px;
padding-bottom: 120px
}

.J{display: flex;
    background-color: #fafafa;}
.K{padding-left: 50px;
padding-top: 120px;
    padding-bottom: 120px;}
.L{text-align: center;}


.M{display: flex;
justify-content: center;
gap: 30px;}
.AI{padding-top: 30px;
padding-bottom: 24px;}


.N{background-color: gold;
width: 300px;
height: 60px;
font-size: 18px;
color: white;
margin-top: 60px;
margin-bottom: 60px;
text-align: center;
line-height: 60px;
margin-left: auto;
margin-right: auto;
}

.P{;
    background-color: #fafafa;}
.AJ{padding-top: 60px;
padding-bottom: 30px;
text-align: center
}

.AK{padding-bottom: 60px;
    text-align: center}

.AL{display: flex;
padding-left: 350px;
margin: 60px;}

.AM{padding-left: 50px;
    padding-bottom: 30px;}
.AN{padding-bottom: 30px;}

.Q{text-align: center;}
.AO{margin-bottom: 70px;}



.BB{padding-left: 16px;
    padding-right: 70px


}

.BC{padding;}
    



/* p関連 */
.CA{padding-top: 8px;
padding-bottom: 8px;
border-style: solid;
border-color:  #bfbfbf;
border-width: 3px 0px 3px 0px;
display: flex;
width: 600px;
margin-left: auto; margin-right: auto;
padding-left: 16px;}

.CB{padding-top: 8px;
    padding-bottom: 8px;
    border-style: solid;
    border-color:  #bfbfbf;
    border-width: 0px 0px 3px 0px;
    display: flex;
    width: 600px;
    margin-left: auto; margin-right: auto;
    padding-left: 16px;}





.EA{padding-left: 200px;
 position: absolute;}
.EB{padding-left: 200px;
    position: absolute;
    line-height: 50px;}
.EC{padding-left: 200px;
    position: absolute;
   padding-top: 10px; }  
.ED{height: 192px;}
.EF{height: 140px;}
.FA{padding-bottom: 24px;}


.GA{background-color: gold;
    font-size: 18px;
color: white;
margin-top: 30px;
width: 300px;
height: 60px;
line-height: 60px;
margin-bottom: 140px;
margin-left: auto;
margin-right: auto;
border-style: none;
cursor: pointer;
/* margin left autoとmargin right autoで真ん中に移動せず */
margin-left: 450px;
}

.GB{background-color: gold;
    font-size: 18px;
color: white;
margin-top: 60px;
width: 300px;
height: 60px;
line-height: 60px;
margin-bottom: 60px;
margin-left: auto;
margin-right: auto;
border-style: none;
cursor: pointer;
/* margin left autoとmargin right autoで真ん中に移動せず */
margin-left: 450px;
}

.HA{width: 370px;}
.HB{width: 370px;
height: 135px;}
.footer{text-align: center;
background-color: #707070;
color: white;
padding: 30px;}

.hover{
display: inline-block;
cursor: pointer;
}
.hover:hover{
    opacity: 0.6;
}